// Cards
.card {
  background-color: rgb(28, 28, 28);
  border: 1px solid #fff;
  border-radius: 0;

  .card-title {
    color: #fff;
    text-shadow: #000 0px 0px 6px;
    font-weight: 300;
  }

  .card-property-title {
    text-shadow: #000 0px 0px 6px;
  }

  .card-body {
    color: #fff;
  }

  .card-text {
    color: rgba(255, 255, 255, 0.9);
  }
}