@import "./fonts.scss";
@import "./mixin.scss";
@import "./variables.scss";
@import "./cards.scss";

@import '~bootstrap/scss/bootstrap';

@include fog-glow-keyframes(fog_secondary, $secondary);
@include fog-glow-keyframes(fog_pink, $pink);

.navbar-brand {
  text-decoration: none;
  color: inherit;
  animation: fog_secondary 6s ease-in-out infinite;
}

.nav-link:hover {
  text-shadow: #fff 0px 0px 6px;
}

.link-blue {
  text-decoration: none;
  color: $secondary;
  position: relative;

  &:hover {
    color: white;
    animation: fog_secondary 6s ease-in-out infinite;
  }
}

.link-pink {
  text-decoration: none;
  color: $pink;
  position: relative;

  &:hover {
    color: white;
    animation: fog_pink 6s ease-in-out infinite;
  }
}

// Beatmapset Cards
.beatmapset-card-bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.missing-metadata {
  .map-title {
    background-color: black;
    color: $secondary;
  }
}