$body-color: white;
$font-family-base: 'Chakra Petch', sans-serif;

// Background
$primary: rgb(12, 12, 20);
$secondary: rgb(0, 206, 255);
$info: rgb(0, 110, 255);
$grey: rgb(99,99,120);
$dark-grey: rgb(37, 37, 51);
$pink: rgb(255, 127, 127);

// Cards
$card-bg: rgb(20, 20, 30);
$card-border-color: #fff;
$card-border-radius: 10px;
$card-border-width: 0px;
$card-title-color: #fff;
$card-text-color: rgba(255, 255, 255, 0.9);

// Foreground
$primary-text-emphasis: white;
$secondary-text-emphasis: $secondary;
$light-text-emphasis: $grey;

// Custom
$dark: rgb(20, 20, 30);
$darker: rgb(16, 16, 28);
$darkest: rgb(8, 8, 16);

// Navbar
$navbar-light-brand-color: white;
$navbar-light-hover-color: white;
$navbar-light-active-color: white;
$navbar-light-color: $light-text-emphasis;
$navbar-light-toggler-border-color: transparent;
$navbar-toggler-border-width: 0;
$navbar-toggler-focus-width: 0;
$navbar-light-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");

// List Group
$list-group-bg: $primary;

// Custom BG Classes
.cbg-dark {
    background-color: $dark !important;
}
.cbg-darker {
    background-color: $darker !important;
}
.cbg-darkest {
    background-color: $darkest !important;
}
.cbg-grey {
    background-color: $grey !important;
}
.cbg-dark-grey {
    background-color: $dark-grey !important;
}
.cbg-pink {
    background-color: $pink !important;
}

.cbg-pink-2 {
    background-color: #ff66ab !important;
}

.cbg-black-t40 {
    background-color: rgba(0, 0, 0, 0.4) !important;
}
